$dark-1000: hsl(0, 0%, 10%);
$dark-200: #333333;
$white-100: hsl(0, 0%, 100%);
$main-clr: #cd6799;
$main-clr-bright: #dd6fa4;
$dark-grey: rgb(41, 41, 41);
$darken-grey: rgb(77, 77, 77);
$light-grey: rgb(150, 150, 150);
$purple-light: rgb(130, 71, 197);
$light-blue: rgb(33, 201, 231);