@use 'colors';

.welcome-page {
    margin-top: 50px;
    gap: 20px;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    @media (max-width: 850px) {
        & {
            flex-direction: column-reverse;
        }
    }
    .welcome-content {
        box-shadow: 0 0 100px rgb(238, 238, 238);
        min-height: 80vh;
        border-radius: 1.3rem;
        flex-grow: 3;
        padding: 20px 10px;
        outline: 2px solid rgb(241, 241, 241);
        &__title {
            font-weight: 700;
            text-align: center;
            font-size: clamp(1.8rem, 2vw, 2.8rem);
            color: colors.$main-clr;
        }
        &__subtitle {
            font-size: 1.5rem;
            text-align: center;
            color: rgba(colors.$main-clr, .75)
        }
        &__basic {
            margin-top: 2rem;
            font-size: 2.5rem;
            color: colors.$main-clr;
        }
    }
}
