@use 'colors';
@use 'header';
@use 'aside';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.welcome-page {
    margin-top: 25px;
    gap: 20px;
    display: flex;
    justify-content: center;
    padding: 0 10px;
    @media (max-width: 850px) {
        & {
            flex-direction: column-reverse;
        }
    }
    .welcome-content {
        box-shadow: 0 0 100px rgb(238, 238, 238);
        min-height: 80vh;
        border-radius: 1.3rem;
        flex-grow: 3;
        padding: 20px 10px;
        outline: 2px solid rgb(241, 241, 241);
        &__title {
            font-weight: 700;
            text-align: center;
            font-size: clamp(1.8rem, 2vw, 2.8rem);
            color: colors.$main-clr;
        }
        &__subtitle {
            font-size: 1.5rem;
            text-align: center;
            color: rgba(colors.$main-clr, .75);
        }
        .code-workspaces {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
            min-height: 350px;
            margin: 50px auto 0 auto;
            padding: 0 10px;
            gap: 20px;
            .code-workspace {
                animation: workspaceOriginate 1s ease forwards;
                border: 2px solid colors.$dark-grey;
                border-radius: .6rem;
                background-color: colors.$dark-grey;
                padding: 10px;
                transform: translateX(-20px);
                opacity: .4;
                min-height: 420px;
                display: flex;
                flex-direction: column;
                &__list-item {
                    list-style: none
                }
                ::selection {
                    background-color: colors.$dark-200;
                }
                .code-block {
                    flex-grow: 1;
                    overflow-x: auto;
                    &.hidden {
                        display: none;
                    }
                    &::selection {
                        background-color: #fff;
                        color: #000
                    }
                    &::-webkit-scrollbar {
                        width: 20px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: #222;
                        border: 1px solid colors.$light-grey;
                    }
                    &::-webkit-scrollbar-track {
                        background-color: colors.$light-grey;
                    }
                    &__header {
                        text-align: center;
                    }
                    &__code {
                        color:rgb(248, 248, 242); 
                        font-weight: 400;
                        border: rgba(colors.$light-grey, .4);
                        font-size: 1.2rem;
                        display: block;
                        &_selector {
                            color:rgb(255, 160, 122); 
                        }
                        &_property {
                            color:rgb(255, 215, 0);
                        }
                        &_value {
                            color:rgb(245, 171, 53) 
                        }
                        &_line {
                            white-space: pre-wrap;
                        }
                    }
                }
                &__header {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 20px;
                    align-items: center;
                    margin-bottom: 10px;
                    & .fa-angle-left,
                    & .fa-angle-right {
                        color: #fff;
                        font-size: 1.2rem;
                        cursor: pointer;
                    }
                }
                &:last-child {
                    transform: translateX(20px);
                }
                @keyframes workspaceOriginate {
                    to {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
                &__title {
                    font-weight: 500;
                    text-align: center;
                    color: rgba(colors.$white-100, .96);
                    margin-bottom: 10px;
                    &_sass {
                        color: colors.$main-clr;
                    }
                }
            }
        }
    }
}
