@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.navigation {
    display: grid;
    grid-template-areas: 'logo title menu';
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    min-height: 100px;
    padding: 0 20px;
    gap: 20px;
    background-color: rgba(colors.$white-100, 0.7);
    box-shadow: 0 10px 20px rgb(230, 230, 230);
    &__logo {
        max-width: 120px;
        cursor: pointer;
        display: block;
        margin: 5px 0;
        padding: 5px;
        border-radius: 0.5rem;
        transition: background-color 100ms;
        grid-area: logo;
    }

    &__indent {
        font-size: 2.5rem;
        color: colors.$main-clr-bright;
    }

    &__logo:hover {
        background-color: rgba(241, 241, 241, 0.986);
    }
    
    &__title {
        color: colors.$main-clr;
        font-size: 2rem;
        user-select: none;
        text-align: center;
        grid-area: title;
        position: relative;
        overflow: hidden;
        animation: textWriting 3s steps(30), blinking 1000ms infinite;
        border-right: 5px solid colors.$main-clr-bright;
        white-space: nowrap;
        @media (max-width: 880px) {
            & {
                animation: none;
                border: none;
                white-space: initial;
            }
        }
        @keyframes textWriting {
            from  {
                width: 0;
            }
            to {
                width: 100%;
            }
        }
        @keyframes blinking {
            to {
                border-color: transparent;
            }
        }
    }

    #navigation__checkbox {
        position: absolute;
        left: -200px;
    }

    &__menu {
        padding: 10px;
        border-radius: 1.3rem;
        cursor: pointer;
        width: 60px;
        height: 60px;
        display: flex;
        transition: background-color 100ms ease;
        grid-area: menu;
        &:hover {
            background-color: rgba(243, 243, 243, 0.986);
        }
    }

    &__menu .fa-bars {
        font-size: 35px;
        color: colors.$dark-200;
        margin: 0 auto;
    }
    @media (max-width: 550px) {
        & {
            grid-template-areas: 
            "logo menu"
            "title title"
        }
    }
}

.welcome-page {
    margin-top: 50px;
    gap: 20px;
    display: flex;
    padding: 0 10px;
    @media (max-width: 850px) {
        & {
            flex-direction: column-reverse;
        }
    }
    .welcome-content {
        max-width: 95%;
        margin: 0 auto;
        box-shadow: 0 0 100px rgb(238, 238, 238);
        min-height: 80vh;
        border-radius: 1.3rem;
        flex-grow: 3;
        padding: 20px 10px;
        outline: 2px solid rgb(241, 241, 241);
        &__title {
            font-weight: 700;
            text-align: center;
            font-size: clamp(1.8rem, 2vw, 2.8rem);
            color: colors.$main-clr;
        }
        &__subtitle {
            font-size: 1.5rem;
            text-align: center;
            color: rgba(colors.$main-clr, .75)
        }
        .code-workspaces {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            min-height: 350px;
            max-width: 90%;
            margin: 50px auto 0 auto;
            gap: 40px;
            .code-workspace {
                animation: workspaceOriginate 1s ease forwards;
                border: 2px solid colors.$dark-grey;
                border-radius: .8rem;
                background-color: colors.$dark-grey;
                -webkit-user-select: none;
                user-select: none;
                gap: 30px;  
                padding: 10px;
                transform: translateX(-20px);
                opacity: .4;
                display: flex;
                flex-direction: column;
                &__snippet {
                    width: 100%;
                }
                &__header {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 20px;
                    align-items: center;
                    margin-bottom: 10px;
                    & .fa-angle-left,
                    & .fa-angle-right {
                        color: #fff;
                        font-size: 1.2rem;
                        cursor: pointer;
                    }
                }
                &:last-child {
                    transform: translateX(20px);
                }
                @keyframes workspaceOriginate {
                    to {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
                &__title {
                    font-weight: 500;
                    text-align: center;
                    color: rgba(colors.$white-100, .96);
                    margin-bottom: 10px;
                    &_sass {
                        color: colors.$main-clr;
                    }
                }
                &__code {
                    font-weight: 500;
                    color: colors.$white-100;
                    &_selector {
                        color: colors.$purple-light;
                    }
                    &_property {
                        margin-left: 20px;
                        color: colors.$light-blue;
                    }
                    &_two-digits {
                        margin-left: 14px;
                    }
                }
                &_comment {
                    color: colors.$darken-grey;
                    font-size: 1rem;
                }
                &__code-lines {
                    display: flex;
                    flex-direction: column;
                    color: colors.$light-grey;
                    width: fit-content;
                }
                &__code-line {
                    display: flex;
                    gap: 20px;
                }

                &__line-number {
                    display: block;
                    text-align: center;
                    font-weight: 500;
                }
            }
        }
    }
    .aside-nav {
        box-shadow: 0 0 20px rgb(238, 238, 238);
        border-radius: 1.3rem 0 0 1.3rem;
        width: 0;
        overflow: hidden;
        transition: 300ms ease;
        padding: 15px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        &.active {
            width: 30%;
        }
        @media (max-width: 850px) {
            & {
                width: 100% !important;
                transform-origin: top;
            }
            &.active {
                max-height: 0;
                transform: scaleY(0);

            }
        }
        &__list {
            width: 85%;
            list-style: none;
            &_expand {
                transform: scaleY(0);
                height: 0;
                display: flex;
                align-items: center;
                flex-direction: column;
                transition: 100ms;
                transform-origin: top;
                margin: 0 auto;
                &.show {
                    height: auto;
                    transform: scaleY(1);
                }
            }
        }
        &__link {
            text-decoration: none;
            display: block;
            text-align: center;
            font-size: 1.35rem;
            color: colors.$main-clr;
            display: flex;
            justify-content: space-between;
            margin: 15px auto;
            &_title {
                margin-bottom: 5px;
                &.active .fa-chevron-right {
                    transform: rotate(.25turn);
                }
            }
            .fa-chevron-right {
                color: colors.$dark-1000;
                margin-right: 50px;
                transition: transform 100ms ease;
            }
        }
    }
}
